h1{
    margin-top: 35px;
    padding: 0;
    font-weight: normal;
  }
  
   .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding: 10px; 
  }
  