.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-info a {
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .user-info button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px; 
  }
  
  