.navbar{
    margin: 0;
    padding: 0;
  }
  
  .navbar ul {
    list-style-type: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }   

.navbar {
  background-color: var(--white);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar-link {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: var(--white);
}
