.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
  align-items: center;
  background-color: var(--white);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
  padding: 14px 16px;
  transition: color 0.3s ease; 
  font-size: 20px;
}

.navbar ul li a:hover {
  color: var(--hover-color); 
  text-decoration: underline;
}
